* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-snap-type:y mandatory;
}

.scroll{
  overflow-x: hidden !important;
  scroll-snap-align: start ;
  scroll-snap-stop: always;
}


.hidden{
  display: none !important;
}

@keyframes flyInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fly-in {
  animation: flyInUp 0.8s ease-out forwards;
}

.intro-container {
  position: relative;
  width: 100%;
  height: 100vh; /* Chiều cao bằng chiều cao cửa sổ trình duyệt */
  overflow: hidden; /* Ẩn phần thừa của video */
}

.intro-vid {
  width: 100vw; /* 100% chiều rộng màn hình */
  height: 100vh; /* 100% chiều cao màn hình */
  object-fit: cover; /* Tự động cắt tỉ lệ thừa để lấp đầy màn hình */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Đặt video phía sau các phần tử khác */
  filter: brightness(0.8);
}

.nav {
  display: flex;
  justify-content: space-between;
  /* opacity: 0; */
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 100;
}

.logo {
  font-family: "Playfair Display", serif;
  font-size: 2rem;
  color: white;
  text-decoration: none;
  /* font-weight: bold; */
  padding-left: 1rem;
  letter-spacing: -0.025rem;
}

.logo-2 {
  font-family: "Playfair Display", serif;
  font-size: 12rem;
  color: #d4a373;
  text-decoration: none;
  /* font-weight: bold; */
  padding-left: 1rem;
  letter-spacing: -0.025rem;
  position: absolute;
}

.sub-logo {
  font-family: "Inter", serif;
  font-size: 0.5rem;
  color: white;
  text-decoration: none;
  font-weight: lighter;
  letter-spacing: 0.3em;
  opacity: 0.7;
  padding-left: 1rem;
  /* visibility: hidden; */
}

.sub2-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  z-index: 1;
}

.sub2-logo p:first-child {
  color: #d4a373;
  font-family: "Inter", serif;
  font-size: 1.25rem;
}

.logo-2 {
  position: relative;
  top: -2rem;
  color: white;
}

.sub2-logo p:last-child {
  font-family: "Inter", serif;
  /* color: #44190B; */
}

.nav-menu {
  /* visibility: hidden; */
  display: flex;
  padding-top: 1rem;
  gap: 1rem;
}

.nav-menu a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
}

.nav-menu:hover a {
  opacity: 0.3;
}

.nav-menu a:hover {
  opacity: 1 !important;
}

.nav-menu a {
  transition: opacity 0.3s ease;
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
}

.nav-action {
  /* visibility: hidden; */
  display: flex;
  gap: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

.nav-action a {
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
}

#hamburger-icon, #mobile-nav-container {
  display: none;
}

.question-container{
  width: 100%;
  min-height: 110vh;
  color: transparent;
}

.screen{
  width: 100%;
  height: 110vh;
  background-color: #0c0c0c;
}

.healing {
  width: 100%;
  height: 110vh;
  overflow: hidden;
  display: flex ;
  flex-direction: column;
  align-items: center;
  object-fit: cover;
}

.healing img {
  position: absolute;
  width: 100%;
  filter: brightness(0.3);
  z-index: -1;
  object-fit: cover;
}


.personal-choice {
  position: relative;
  top: 25%;
  font-family: "Inter", serif;
  font-size: 0.75rem;
  color: white;
  letter-spacing: 0.3em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.5rem 0.75rem;
  border-radius: 4rem;
}

.find {
  position: relative;
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  
  top: 25%;
  color: white;
  
}

.your-own {
  position: relative;
  top: 20%;
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  font-weight: lighter;
  font-style: italic;
  color: #d4a373;
}

.healing p:last-child {
  position: relative;
  top: 20%;
  font-family: "mulish", serif;
  font-weight: lighter;
  font-size: 1.5rem;
  color: white;
  width: 50%;
  text-align: center;
  line-height: 1.25rem;
  opacity: 0.7;
}

.start-choice {
  position: relative;
  top: 25%;
  font-family: "Inter", serif;
  font-size: 0.75rem;
  color: white;
  letter-spacing: 0.3em;
  border: 1px solid rgba(255, 255, 255, 1);
  padding: 1rem;
  text-decoration: none;
  background-color: transparent;
}

.start-choice:hover {
  background-color: #d4a373;
  color: black;
  cursor: pointer;
}

.id{
  position: absolute;
  color: rgba(255, 255, 255, 0.5);;
  font-size: 5rem;
  font-family: 'Bodoni Moda',sans-serif;
  font-weight: bolder;
  left: 13%;
  padding-top: 5%;
}

.progress-bar{
  position: relative;
  width: 64%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.507);
  top: 20%;
  left: 25%;
}

.sub-bar{
  height: 1px;
  width: 25%;
  background-color: #d4a373;
  transition: width 0.4s ease-in-out;
}

.question-text{
  position: relative;
  display: flex;
  color: white;
  font-size: 3rem;
  left: 13%;
  top: 30%;
}

.options-container{
  position: relative;
  display: flex;
  flex-direction:column ;
  width: 75vw;
  height: 50vh;
  margin-left:auto;
  margin-right:auto;
  align-items: center;
  justify-content: space-between;
  bottom: -14rem;
}

.option{
  background-color: transparent;
  width: 100%;
  height: 1.5rem;
  padding: 2.75rem 1rem;
  display: flex;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.7);
  /* font-family: 'Playafair',sans-serif; */
  font-size: 2rem;
  font-weight: lighter;
}

.option:hover{
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.loading{
  height: 110vh;
  width: 100%;
  position: relative;
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.loading h3{
  font-weight: 200;
  color: white;
  font-size: 2rem;
}

/* Vòng quay tròn sang trọng */
.loader {
  width: 30px;
  height: 30px;
  border: 2px solid rgba(212, 163, 115, 0.2); /* Màu vàng đồng nhạt */
  border-top: 5px solid #d4a373; /* Màu vàng đồng đậm làm điểm nhấn quay */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.result-screen{
  position: relative;
  width: 100%;
  height: 200vh;
  background-color: #D4A373;
  scroll-snap-align: start end;
}

.result-screen::-webkit-scrollbar{
  display: none;
}

.result-screen img{
  height: 100%;
  width: 30%;
  object-fit: cover;
  position: relative;
  left: 65%;
}

#tea-name{
  position: absolute;
  color: white;
  font-size: 4rem;
  top: 5%;
  left: 20%;
  border-bottom: 1px solid white;
}

#advice1{
  position: absolute;
  color: white;
  top: 15%;
  left: 5%;
  width: 55%;
  word-spacing: 0.5rem;
  font-size: 1.5rem;
  text-align: justify;
  /* background-color: beige; */
}

#advice2{
  position: absolute;
  color: white;
  top: 50%;
  left:10%;
  width: 50%;
  font-size: 1.5rem;
  word-spacing: 0.5rem;
  text-align: right;
}

#price{
  position: absolute;
  color: white;
  font-size: 4rem;
  font-family: 'Bodoni Moda',sans-serif;
  font-weight: 200;
  opacity: 0.5;
  top: 85%;
  left: 25%;
  
}

#addtocart{
  position: relative;
  left: -20% ;
  top: -3%;
  background-color: transparent;
  font-size: 2rem;
  padding: 0.25rem;
  border: 1px solid white;
  color: rgba(255, 255, 255, 0.5);
}

#addtocart:hover{
  cursor: pointer;
  color:#D4A373;
  background-color:rgba(255, 255, 255, 0.5);
}

#retry-btn{
  position: relative;
  left: -20% ;
  top: -3%;
  background-color: transparent;
  font-size: 2rem;
  padding: 0.25rem 0.25rem;
  
  border: 1px solid white;
  color: rgba(255, 255, 255, 0.5);

}

#retry-btn:hover{
  cursor: pointer;
  color:#D4A373;
  background-color:rgba(255, 255, 255, 0.5);
}

.slider {
  overflow-x: hidden;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}

.slider::-webkit-scrollbar{
  display: none;
}


.slide1 {
  height: 110vh;
  width: 100%;
  background: #2A3052;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.slide2 {
  height: 110vh;
  width: 100%;
  background: #D4A373;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}
.slide3 {
  height: 110vh;
  width: 100%;
  background: #4F772D;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.collection{
  font-family: "Inter", serif;
  font-size: 0.75rem;
  color: white;
  margin-bottom: 1rem;
  letter-spacing: 0.3em;
  position: absolute;
  left: 15%;
  padding-top: 10rem;
}

.title{
  font-family: "Playfair Display", serif;
  font-size: 6rem;
  color: white;
  padding-top: 11rem;
  margin-bottom: 1rem;
  letter-spacing: 0;
  position: absolute;
  left: 15%;
}

.title::first-letter {
    text-decoration: underline;
    text-decoration-thickness: 1px; /* Độ dày nét gạch (tùy chọn) */
    text-underline-offset: 1.5rem; /* Khoảng cách với chữ (tùy chọn) */
}

.subtitle{
  font-family: "Playfair Display", serif;
  font-size: 9rem;
  color: white;
  opacity: 0.2;
  position:relative;
  left: 40%;
  transform: translate(0%, -50%) rotate(-90deg);
  color: transparent;
  -webkit-text-stroke: 1.5px white;
}

.description{
  font-family: "mulish", serif;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: lighter ;
  color: white;
  width: 18%;
  position: relative;
  left: 15%;
  letter-spacing: 1px;
  top: 10rem;
  opacity: 0.7;
  margin-left: 1rem;
}

.KEY{
  font-family: "Inter", serif;
  font-size: 0.75rem;
  color: white;
  margin-top: 2rem;
  margin-left: 1rem;
  letter-spacing: 0.2em;
  position: relative;
  left: 15%;
  top: 10rem;
  opacity: 0.4;
}

.ingre-contain{
  width: 400px;
  left: 15%;
  margin-left: 1rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.ingre{
  font-family: "mulish", serif;
  font-size: 0.5rem;
  color: white;
  margin-top: 0.5rem;
  position: relative;
  top: 10rem;
  opacity: 0.7;
  border: 1px solid white;
  padding: 0.5rem;
  display: inline-block;
  letter-spacing: 2px;
}

.learnmore{
  font-family: "Inter", serif;
  font-size: 0.75rem;
  color: white;
  margin-top: 3rem;
  margin-left: 1rem;
  letter-spacing: 0.3em;
  position: relative;
  left: 15%;
  top: 10rem;
  opacity: 0.7;
  border: 1px solid white;
  display: inline-block;
  padding: 0.5rem;
  text-decoration: none;
  z-index: 2;
}

.learnmore:hover{
  background-color: white;
  color: black;
}

.deco{
  color: white;
  opacity: 0.4;
  position: relative;
  font-family: "Bodoni Moda", serif;
  left: 80%;
  top: 11rem;
}

.decor-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

.square {
  position: absolute;
  width: 400px;
  height: 175px;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  top: 50%;
  left: 15%;
  color: transparent;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.square2 {
  position: absolute;
  width: 400px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
  /* top: 50%; */
  left: 25%;
  color: transparent;
  border-left: 1px solid rgba(255, 255, 255, 0.3);
}

.big-circle-solid {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  top: 25%;
  left: 25%;
  z-index: 1;
}

.big-circle-dashed {
  position: absolute;
  width: 700px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 50%;
  border: 1px dashed rgba(255, 255, 255, 0.3);
  top: 10%;
  left: 25%;
  z-index: 1;
}

.ilu {
  position: absolute;
  object-fit: cover;
  width: 350px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0);
  top: 20%;
  left: 50%;
  rotate: -10deg;
  border-radius: 100px 0 ;
  border: 1px solid rgba(255, 255, 255, 0.7);
  z-index: 1;
  overflow: hidden;
}

.slide2 .ilu {
  rotate: 10deg;
}

.slide3 .ilu {
  border-radius: 50%;
  height: 350px;
  top: 25%;
}

.ilu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}

.comunity{
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.comunity img{
  position: absolute;
  width: 100%;
  opacity: 0.3;
  z-index: -1;
}

.container{
  width: 800px;
  height: 800px;
  position: relative;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.subtitle1{
  position: relative;
  top: 15%;
  font-family:'Inter',serif ;
  letter-spacing: 0.2rem;
  font-weight: 200;
  font-size: small;

}

.title1{
  position: relative;
  top: 15%;
  font-family: 'Playfair Display',sans-serif;
  font-size: 4rem;
  font-weight: bold;

}

.title2{
  position: relative;
  top: 12%;
  font-family: 'Playfair Display',sans-serif;
  font-size: 4rem;
  font-weight: bold;

}

.container p{
  position: relative;
  top: 15%;
  align-items: center;
  justify-content: center;
  word-spacing: 0.25rem;
}

.container input{
  position: relative;
  width: 50%;
  top: 20%;
  align-items: center;
  border: transparent;
  border-bottom: 1px solid black;
  padding: 1rem;
}

.container input:focus{
  outline: none;
  border-bottom: 1px solid #D4A373;
}

.container input::placeholder{
  font-family: 'Playfair Display',sans-serif;
  text-align: center;
  font-size:1rem;
}

.container button{
  position: relative;
  top: 23%;
  font-family: 'Muslish',sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  width: 50%;
  padding: 0.5rem;
  background-color: black;
  color: white;
}

.container button:hover{
  background-color: #D4A373;
  outline: none;
}

.contact{
  position: relative;
  top: 27%;
  width: 50%;
  display: flex;
  justify-content: space-around;  
}

.contact a {
  color: black;
  font-family: 'Mulish',serif;
  font-weight: lighter;
  text-decoration: none;
  opacity: 0.3;
}

.contact a:hover{
  opacity: 1;
}